@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  margin-right: 4px;
  padding: 4px 8px;
}

button.is-active {
  background-color: #333;
  color: #fff;
}

ul li,
ul li {
  list-style-type: disc;
}

a {
  color: blue;
}