@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* outline: 1px solid red; */
}

button {
  margin-right: 4px;
  padding: 4px 8px;
}

button.is-active {
  background-color: #333;
  color: #fff;
}

ul li,
ul li {
  list-style-type: disc;
}

a {
  color: blue;
}
.enji-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 100px;
}
.enji-resume {
  width: 794px;
  background: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.enji-container {
  /* width: 468px; */
  width: 670px;
  margin: 0 auto;
}
.enji-header {
  background: url(./assets/images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 44px 0 16px;
}

strong {
  color: #64748b;
}
